body:before{
	content: 'Rainbows!!!';
	font-family: 'Arial';
	animation: rainbow 1s infinite;
}

@keyframes rainbow {
	0%{
		color: red;
	}
	20%{
		color: orange;
	}
	40%{
		color: yellow;
	}
	60%{
		color: green;
	}
	80%{
		color: blue;
	}
	100%{
		color: red;
	}
}
